/* Social proof container */
.social-proof-container {
    width: 100%;
    background: #EEFCEA;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Social proof heading */
.social-proof-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 55px;
    letter-spacing: 5px;
}

/* Dot in the social proof heading */
.socialproof-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 0 10px;
}

/* Testimonials heading */
.testimonials-heading,
.collaborations-heading {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Testimonial cards container */
.testimonial-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Individual testimonial card */
.testimonial-card {
    flex: 1; 
    max-width: 300px; 
    height: 310px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #ADCDB6;
    margin: 0 30px; 
    box-sizing: border-box; 
    position:relative;
    overflow: hidden; 
    border: none;
    margin: 15px;
    border-radius: 25px;
    background-color: #ADCDB6;
    overflow: hidden;
}

/* Testimonial name */
.testimonial-card__name {
    font-size: 28px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 500;
    color: #36CC6B;
}

/* Testimonial text */
.testimonial-card__testimonial {
    font-size: 24px;
    color: #000000;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;

}


/* Testimonial link */
.testimonial-card__link {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 15px;   
    background-color: #5F7464;
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-decoration: none;
    justify-content: flex-start;
    top: auto;

}

/* Arrow icon styling */
.readstory-arrow {
    font-size: 35px;
    margin-left: 13px; 
    vertical-align: baseline;
}

/* .slick-dots {
    margin-top: 40px !important;
} */

/* hiding the default text for arrows */
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    display: none;
  }
  
  /* customised styles for the arrows */
  .slick-prev::before, .slick-next::before {
    font-size:1.5rem;
    color: #a3b4a8; /* arrow color */
  }
 
  
/* Collaboration logos container */
.collaborations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px; 
    margin-bottom: 50px;

}

/* Individual collaboration logo */
.collaboration-logos {
    width: 10rem; 
    height: auto; /* maintaining aspect ratio */
    object-fit: contain;
}


