/* Story Container */
.story-container {
  box-sizing: border-box;
  font-family: 'Georgia', serif;  /* Added backup generic serif font */
  padding-left: 50px !important; /* Add left padding */
  padding-right: 50px !important; 
  /* max-width: 100%;  */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
  font-size: 16px; /* Adjust the default font size */
  line-height: 1.6; /* Adjust the line height for better readability */
  color: #333; /* Set the default text color */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

/* Story Description */
.story-description {
  text-align: left;
  font-size: 18px; /* Adjust the font size for the description */
  color: #ffffff; /* Set the text color for the description */
}

/* Story Image */
.story-image {
  text-align: right;
}
