/* Story */
.story {
    position: absolute;
    width: 1440px;
    height: 548px;
    left: 0px;
    top: 900px;
    
    background: #E2E2E2;
}

/* story */
.title_textbox{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 28px;

    position: absolute;
    width: 248px;
    height: 44px;
    left: calc(50% - 248px/2 - 13.5px);
    top: calc(50% - 44px/2 - 211px);
}




/* dot */
.dot1 {
    width: 12px;
    height: 12px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    /* dot */

    position: absolute;
    border-radius: 50%;

    background: #000000;
}

/* Our Story */
.ourstory {

    width: 168px;
    height: 44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: #000000;
    padding-left: 50px;

    /* Inside auto layout 
    flex: none;
    order: 1;
    flex-grow: 0;*/
}

/* dot */
.dot2 {
    width: 12px;
    height: 12px;

    background: #000000;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 50%;

}


/* Ellipse for img */
.ellipse {

    position: absolute;
    width: 263.57px;
    height: 364.85px;
    left: 886.18px;
    top: 150.04px;

    background: #36CC6B;
    transform: rotate(-60deg);
    border-radius: 60%;

}
/* Story of the company along with mission and vision */
.story_of_company{

    position: absolute;
    width: 575px;
    height: 296px;
    left: 163px;
    top: 138px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #000000;
}


/* Rectangle 7 */
.rectangle7{
    
    position: absolute;
    width: 254px;
    height: 57px;
    left: 611px;
    top: 471px;

    background: #D9D9D9;
}

/* character */
.character{

    position: absolute;
    width: 202px;
    height: 152px;
    left: 1035px;
    top: 1108px;

}

/* Ellipse 3 */
.ellipse3{

    position: absolute;
    width: 57px;
    height: 59px;
    left: 980px;
    top: 250px;

    background: #D9D9D9;
    border-radius: 50%;
}

/* Ellipse 4 */
.ellipse4{

    position: relative;
    width: 128px;
    height: 100px;
    left: 950px;
    top: 300px;
    border-radius: 60%;

    background: #D9D9D9;
}