/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  margin:15px 0 0 35px;
  max-width: 80px;

}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin:15px 35px 0 0;

}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: green;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.dropdown-menu div {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu div:hover {
  background-color: #555;
}
