.impact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  }
  
  .impact {
  font-size: 28px;
  font-weight: 700;
  margin: 0 10px;
  }
  
  .impact-analytics {
  display: flex;
  justify-content: space-between;
  gap: 120px; /* adding equal spacing between circles */
  flex-wrap: wrap; 
  }
  
  .analytics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .circle {
  position: relative;
  width: 200px;
  height: 200px;
  border: 6px solid #36CC6B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  margin-bottom:70px;
  cursor: pointer;
  overflow: hidden;
  flex-direction: column;

  }
  
  .circle-icon {
    font-size: 60px;
    color: #000; 
    transition: opacity 0.3s ease-in-out; 

  }

  .circle-heading {
    /* position: absolute; */
    font-size: 17px;
    font-weight: 650;
    text-align: center;
    letter-spacing:2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
  }

  .circle-icon,
.circle-heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
  
  .circle:hover .circle-icon {
    opacity: 0; /* hide the icon on hover */
  }

  .circle:hover .circle-heading {
    opacity: 1;
  }

  .impact-divider {
  margin: 20px;
  width: 100%;
  margin-top:15px;
  margin-bottom:15px;
  border: 1px solid #333;

  }
  
  .impact-progress-bar {
    height: 8px; /* Adjust the height to make the progress bar thinner */
    border: none; /* Remove the default border */
    background-color: #ddd; /* Set a background color for the progress bar */
  }
  
  .numeric-analytic {
  font-size: 24px;
  font-weight: bold;

  }

