/* Products.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Products Container */
.products-container {
  box-sizing: border-box;
  font-family: 'Georgia';
  padding-bottom: 4%;
}


/* Product Card */
.product-card {
  border-radius: 10%;
  min-height: 85%; 
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card__image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.product-card__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: color 0.3s ease-in-out;
}

.product-card__about {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000;
  margin-top: 10px;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: none;
  margin-bottom: 20px;
}
