/* hero section */
.hero-section {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
  font-family: 'Georgia';
}

/* hero tagline */
.hero-tagline {
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}

.hero-tagline p {
  font-size: 3.5rem;
  margin-bottom: 0;
}


.hero-description {
  font-weight: bold;
  font-size: 1.25rem;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .hero-tagline p {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .hero-tagline p {
    font-size: 2rem;
  }

}